<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="/css/styles.css" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Alegreya+SC:wght@500&family=Oxygen&display=swap" rel="stylesheet">

    <title>Grade Guru Classes</title>
  </head>

  <body>

    <!-- Nav Bar -->
    <section id="navigation">
        <nav class="navbar">
          <div class="navbar-header">
            <a href="#" class="navbar-brand">
              Grade Guru
            </a>
          </div>
        </nav>
    </section>

    <!-- Header -->
    <section id="header">
      <div>
          <a href="/" class="main_logoff_button">
              <button type="button" class="btn btn-danger btn-lg">Log Off</button>
          </a>
      </div>
      <br/>
      <h1 class="welcome_header">Welcome </h1>
      <h1 class="username_header">{{username}}</h1>
      <hr>
    </section>

    <!-- Classes -->
    <section id="class_page">
      <div>
        <button type="button" style="display: show" onclick="addClass()" class="btn btn-info btn-lg addButton">Add a Class</button>
      </div>      
      <br/>
      <div class="edit_button" style="display: show">
          <button type="button" style="display: show" onclick="edit_mode()" class="btn bg-info btn-lg editModeButton">Edit Mode</button>
          <button type="button" style="display: none" onclick="cancel_edit_mode()" class="btn btn-warning btn-lg cancel_editModeButton">Cancel Edit Mode</button>
      </div>

      <div id="addClass" style="display: none">
        <form id="addClassForm" class="form">
          <div class="form-group">
            <label for="class_name">Enter Class Code</label>
            <input type="text" class="form-control" id="class_name" maxlength="9" required name="class_name" placeholder="(e.g. COGS 120)">
          </div>

          <div class="form-group">
            <label for="professer">Enter Professor Name</label>
            <input type="text" class="form-control" id="professer" maxlength="15" required name="professer" placeholder="Gupta">
          </div>

          <div class="submit">
            <button type="button" onclick="cancelAddClass()" class="btn btn-warning btn-lg cancel_button">Cancel</button>
            <input type="submit" id="submitClass" class="btn btn-success btn-lg" value="Add"></input>
          </div>
        </form>
      </div>

      <div class="helper_div" style="display: none">
          <p class="helper_big">Nothing Here!</p>
          <p class="helper">Press Add a Class Above</p>
      </div>

      <h1 class="select_helper" style="display: show">Select a Category Below:</h1>

      <div class="root-container"></div>
    </section>

    <footer id="footer">
      <p class="footer_text">Grade Guru 2021</p>
    </footer>

    <!-- JavaScript -->
    <script src="https://kit.fontawesome.com/4610a5e838.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="/js/makeClasses.js"></script>
  </body>
</html>
