<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="/css/styles.css" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Alegreya+SC:wght@500&family=Oxygen&display=swap" rel="stylesheet">

    <title>Login to Grade Guru</title>
  </head>

  <body>
    <!-- Nav Bar -->
    <section id="navigation">
        <nav class="navbar">
          <div class="navbar-header">
            <a href="#" class="navbar-brand">
              Grade Guru
            </a>
          </div>
        </nav>
    </section>

    <!-- Header -->
    <section id="header">
      <h1 class="welcome_header">Welcome</h1>
      <hr>
    </section>

    <!-- Login -->
    <section id="login_page">
      <div>
        <button type="button" style="display: show" onclick="show_login()" class="btn btn-info btn-lg addButton cancel_button">Login</button>
        <button type="button" style="display: show" onclick="show_signUp()" class="btn btn-info btn-lg addButton">Sign Up</button>
      </div>

      <div id="loginLabel" style="display: none">
        <h1 class="label">Login</h1>
      </div>

      <div id="wrong_login" style="display: none">
        <h1 class="wrong_label">Wrong! Please Try again</h1>
      </div>

      <div id="login_info_login" style="display: none">
        <h1 class="info_label">Username & Password are Case Sensitive</h1>
      </div>

      <div id="login_input" style="display: none">
        <form id="loginForm" class="form">
          <div class="form-group ">
            <input type="text" class="form-control" id="username" required maxlength="15" placeholder="Enter Username" name="username">
          </div>

          <div class="form-group ">
            <input type="password" class="form-control" id="password" required maxlength="15" placeholder="Enter Password" name="password">
          </div>

          <div class="submit">
            <button type="button" onclick="cancelLogin()" class="btn btn-warning btn-lg cancel_button">Cancel</button>
            <input type="submit" class="btn btn-success btn-lg" value="Login"></input>
          </div>
        </form>
      </div>

      <div id="signUpLabel" style="display: none">
        <h1 class="label">Sign Up</h1>
      </div>

      <div id="login_info_signup" style="display: none">
        <h1 class="info_label">Username & Password are Case Sensitive</h1>
      </div>

      <div id="signUp_input" style="display: none">
        <form id="signUpForm" class="form">
          <div class="form-group ">
            <input type="text" class="form-control" id="new_username" required maxlength="15" placeholder="Enter New Username" name="new_username">
          </div>

          <div class="form-group ">
            <input type="text" class="form-control" id="new_password" required maxlength="15" placeholder="Enter New Password" name="new_password">
          </div>

          <div class="submit">
            <button type="button" onclick="cancelSignUp()" class="btn btn-warning btn-lg cancel_button">Cancel</button>
            <input type="submit" class="btn btn-success btn-lg" value="Sign Up"></input>
          </div>
        </form>
      </div>
    </section>

    <footer id="footer">
      <p class="footer_text">Grade Guru 2021</p>
    </footer>

    <!-- JavaScript -->
    <script src="https://kit.fontawesome.com/4610a5e838.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="/js/accounts.js"></script>
  </body>
</html>
