*{
font-family: 'Oxygen';
text-align: center;
}

.class_header{
	font-size: 4rem;
	color: grey;
}

.category_header{
    color: black;
    font-weight: bold;
    font-size: 5rem;
    margin-bottom: 50px;
    padding: 0px;
}

.grade_bubble{
	border-radius: 25px;
	background-color: lightskyblue;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
}

.current_grade{
	font-size: 2rem;
	font-weight: bold;
	padding-bottom: 10px;
	margin: 0%;
}

.score{
	font-size: 7rem;
	line-height: 100%;
	margin: 0%;
	font-family: 'Georgia';
	margin-bottom: 10px;
}

.percent{
	margin: 0%;
	line-height: 100%;
	font-size: 3rem;
}

.category_info{
	margin: 25px 0%;
}

.category_percentage{
	margin-bottom: 10px;
	color: grey;
}

.percentage_numbers{
	color: black;
}

.category_numbers{
	margin: 0%;
	color: grey;
}

.item_bubble{
	border: 2px solid black;
	border-radius: 60px;
	width: 50vw;
	margin: 2.5% auto;
	padding: 20px;
}

.item_bubble:hover{
	background-color: lightseagreen;
}

.final_color{
	background-color: lightskyblue;
}

.test_color{
	background-color: lightgreen;
}

.item_name{
	font-size: 2.5rem;
	font-weight: bold;
}

.info{
	margin: 0%;
	font-size: 1.5rem;
}

.item_grade{
	margin: 0%;
	font-size: 1.5rem;
	font-weight: bold;
}

@media (max-width: 415px) {
	.class_header{
		font-size: 10vw;
	}

	.category_header{
		font-size: 15vw;
		margin-bottom: 35px;
	}

	.grade_bubble{
		width: 65vw;
		padding: 20px 10px;
	}

	.current_grade{
		font-size: 8vw;
	}

	.score{
		font-size: 16vw;
	}

	.percent{
		font-size: 8vw;
	}

	.add_item{
		margin-top: 7%;
	}

	#addItemForm{
		padding: 0% 15%
	}

	.item_bubble{
		width: 85vw;
		margin: 8% auto;
	}

	.item_name{
		font-size: 10vw;
	}

	.info{
		font-size: 5vw;
	}

	.item_grade{
		font-size: 5vw;
	}
}