*{
font-family: 'Oxygen';
text-align: center;
}

.class_header{
    color: black;
    font-weight: bold;
    font-size: 5rem;
    margin-bottom: 25px;
    padding: 0px;
}

.grade_bubble{
	border-radius: 25px;
	background-color: lightskyblue;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
}

.current_grade{
	font-size: 2rem;
	font-weight: bold;
	padding-bottom: 10px;
	margin: 0%;
}

.score{
	font-size: 7rem;
	line-height: 100%;
	margin: 0%;
	font-family: 'Georgia';
}

.percent{
	margin: 0%;
	line-height: 100%;
	font-size: 3rem;
}

.course_info{
	margin: 25px 0%;
	color: grey;
}

.course_percentage{
	margin-bottom: 10px;
	color: grey;
}

.percentage_numbers{
	color: black;
}

.course_correcter{
	margin: 0%;
	color: red;
	font-weight: bold;
}

.category_bubble{
	display: block;
	background-color: lightskyblue;
	border-radius: 60px;
	border: 2px solid black;
	margin: 2.5% auto;
	width: 50vw;
}

.category_bubble:hover{
	background-color: lightseagreen;
}

.categories{
	padding: 20px;
}

.category_name{
	font-size: 2.5rem;
	font-weight: bold;
	color: black;
}

.info{
	margin: 0%;
	font-size: 1.5rem;
	color: black;
}