*{
font-family: 'Oxygen';
text-align: center;
}

.class_header{
    color: black;
    font-weight: bold;
    font-size: 5rem;
    margin-bottom: 25px;
    padding: 0px;
	word-wrap: break-word;
}

.grade_bubble{
	border-radius: 25px;
	background-color: rgb(135, 175, 250);
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
}

.current_grade{
	font-size: 2rem;
	font-weight: bold;
	padding-bottom: 10px;
	margin: 0%;
}

.score{
	font-size: 7rem;
	line-height: 100%;
	margin: 0%;
	font-family: 'Georgia';
	padding-bottom: 10px;
}

.percent{
	margin: 0%;
	line-height: 100%;
	font-size: 3rem;
}

.course_info{
	margin: 25px 0%;
	color: grey;
}

.course_percentage{
	margin-bottom: 10px;
	color: grey;
}

.percentage_numbers{
	color: black;
}

.add_item_button{
	color: black;
}

.course_correcter{
	margin: 0%;
	color: red;
	font-weight: bold;
}

.select_helper{
    color: black;
    text-align: center;
    font-weight: bold;
    font-size: 3vw;
	margin: 10px;
    padding: 0px;
}

#editCategoryForm{
	background-color: rgb(111, 183, 250);
	border-radius: 60px;
	margin: 10px 0px;
}

.category_bubble{
	display: block;
	background-color: lightskyblue;
	border-radius: 60px;
	border: 2px solid black;
	margin: 2.5% auto;
	width: 50vw;
}

.category_bubble:hover{
	background-color: lightseagreen;
}

.categories{
	padding: 20px;
}

.category_name{
	font-size: 2.5rem;
	font-weight: bold;
	color: black;
}

.info{
	margin: 0%;
	font-size: 1.5rem;
	color: black;
}

@media (max-width: 1200px) {
	.class_header{
        font-size: 18vw;
    }

	.grade_bubble{
		width: 65vw;
		padding: 20px 10px;
	}

	.current_grade{
		font-size: 8vw;
	}

	.score{
		font-size: 16vw;
	}

	.percent{
		font-size: 8vw;
	}

	.add_item_button{
		margin-top: 3%;
	}

	#addCategoryForm{
		padding: 0% 15%
	}

	#editCategoryForm{
		padding: 10px 10px;
	}

	.select_helper{
		font-size: 6vw;
		margin: 20px;
	}

	.category_bubble{
		margin: 8% auto;
		width: 85vw;
	}

	.category_name{
		font-size: 10vw;
	}

	.info{
		font-size: 5vw;
	}
}